# Env
.env
.env.*
!.env.example
!.env.test

#OS
.DS_Store
Thumbs.db

# APP / XCODE
.build/
build/
.dinggy/
dist/
xcuserdata/
*.xcuserstate

# WEB
node_modules
web/.output
web/.svelte-kit
web/build
web/db/*.sqlite*
web/.eslintcache
web/.spoon
